body {
  margin: 1rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  background-image: repeating-linear-gradient(to top left,rgb(79, 192, 122) 0%,rgb(21, 51, 187) 100%);
}

